{% extends "index.html" %}

{% block main %}
<progress id="indicator" class="htmx-indicator center top"></progress>
<h4>History</h4>
<article id="plot" class="primary-container no-round border"></article>
<script>
    function getSize() {
        let container = document.getElementById("plot");

        return {
            width: container.getBoundingClientRect().width * 0.9,
            height: window.innerHeight * 0.6,
        }
    }

    function makePlot() {
        let data = [
            [
                {%- for x in measurement_data.timestamp -%}
                {{- x -}},
                {%- endfor -%}

            ],
            [
                {%- for x in measurement_data.temperature -%}
                {{- x -}},
                {%- endfor -%}
            ],
        ];

        let opts = {
            title: "Temperature",
            id: "chart",
            class: "chart",
            ...getSize(),
            series: [
                {},
                {
                    label: "Temperature",
                    stroke: "orange",
                    width: 4,
                    // band: true,
                    scale: "C",
                },
            ],
            axes: [
                {},
                {
                    scale: "C",
                    values: (self, ticks) => ticks.map(rawValue => rawValue.toFixed(0) + "°C"),
                    title: "ok"
                },
            ],
            cursor: { drag: { x: true, y: true } }
        };

        let plotContainter = document.getElementById("plot");

        return uPlot(opts, data, plotContainter);
    }

    makePlot()
</script>
{% endblock %}