<!doctype html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="google" content="notranslate">
  <link href="/static/beercss@3.11.30.min.css" rel="stylesheet">
  <link href="/static/custom.css" rel="stylesheet">
  <script src="/static/htmx.org@2.0.6.min.js"></script>
  <!-- <script src="/static/uPlot.iife.min.js"></script> -->
  <!-- <link rel="stylesheet" href="/static/uPlot.min.css"> -->
  <meta name="htmx-config" content='{"responseHandling": [{"code":".*", "swap": true}]}'>
  <title>Weather</title>
</head>

<body class="light">
  <nav class="left max l">
    <header>
      <h4>Weather</h4>
    </header>
    <a hx-get="/" hx-target="main" hx-push-url="true">
      <i>home</i>
      <div>Home</div>
    </a>
    <a hx-get="/history" hx-target="main" hx-push-url="true">
      <i>history</i>
      <div>History</div>
    </a>
    <a>
      <i>cloud</i>
      <div>Other</div>
    </a>
  </nav>

  <nav class="left m">
    <a hx-get="/" hx-target="main" hx-push-url="true">
      <i>home</i>
      <div>Home</div>
    </a>
    <a hx-get="/history" hx-target="main" hx-push-url="true">
      <i>history</i>
      <div>History</div>
    </a>
    <a>
      <i>cloud</i>
      <div>Other</div>
    </a>
  </nav>

  <nav class="bottom s">
    <a hx-get="/" hx-target="main" hx-push-url="true" hx-indicator="#indicator">
      <i>home</i>
    </a>
    <a hx-get="/history" hx-target="main" hx-push-url="true" hx-indicator="#indicator">
      <i>history</i>
    </a>
    <a>
      <i>cloud</i>
    </a>
  </nav>

  <!-- <progress id="indicator" class="htmx-indicator center top"></progress> -->
  <main class="responsive">
    {% block main %}
    <h4>Now</h4>
    <article class="primary-container no-round border">
      <p class="italic">
        <i class="small">schedule</i>
        Measured at
      </p>
      <h6>
        {{ measurement.at }}
      </h6>
      <p class="italic">
        <i class="small">device_thermostat</i>
        Temperature
      </p>
      <h6>
        {{ measurement.temperature }} °C
      </h6>
      <p class="italic">
        <i class="small">humidity_mid</i>
        Humidity
      </p>
      <h6>
        {{ measurement.humidity }} %
      </h6>
    </article>
    {% endblock %}
  </main>
</body>

</html>